/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  margin: 0 auto;
  
}

ul {
  list-style-type:none;
}

#wordwrap ul ul:last-child {
  scroll-snap-align: end;
}

code pre {
  display: block;
  border: 1px solid #999;
  background-color: #eee;
  height: 50vh;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}

#itemName {
  text-transform: capitalize;
}

.wordwrap {  
  white-space: pre-wrap;      /* Webkit */    
  white-space: -moz-pre-wrap; /* Firefox */     
  white-space: -pre-wrap;     /* Opera <7 */    
  white-space: -o-pre-wrap;   /* Opera 7 */     
  word-wrap: break-word;      /* IE */ 
}


iframe {
  width: 90vw;
  height: 80vh;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 2rem;
  text-transform: uppercase;
}

.tab button:hover {
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
  text-decoration: underline;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
  border-top: none;
  
}

.inputs {
  border: 1px solid #26A65B;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

#submitButton {
  text-transform: uppercase;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  
}

#itemForm {
}